nav.navbar.navbar-light.bg-light
  a.navbar-brand(href="/") Todo
  .form-inline
    if showButton
      a.btn.btn-primary.mr-3(href="/new") Nueva tarea
    form(action="/logout" method="POST")
      button.btn.btn-danger(type="submit") logout
  if showDeleteButton
    .form-inline
      form(action="/tasks/delete" method="post")
        input(type="hidden", name="id" value=task.id)
        button.btn.btn-danger(type="submit") borrar tarea
