extends layouts/main.pug
block content
  include includes/navbar.pug
  .container.pt-3
    if task
      .row
        .col
          h1.headline-4= task.title
      .row
        .col
          p= task.description
    else
      .row
        .col
          h1.headline-4 Tarea no encontrada
