extends layouts/main.pug
block content
  include includes/navbar.pug
  .container-fluid.pt-3
    .row
      each task in tasks
        .col-3
          .card
            .card-body
              a(href=`/tasks/${task.id}`)
                h5.card-title= task.title
