extends layouts/main.pug
block content
  include includes/navbar.pug
  .container-fluid.pt-3
    if errorMessage.length
      .alert.alert-danger.mt-3(style="white-space: pre-line;")= errorMessage
    .row
      .col
        .card
          .card-body
            form(action="/login" method="POST")
              .form-group
                label(for="email") Correo
                input.form-control(type="email" id="email" name="email")
              .form-group
                label(for="password") Password
                input.form-control(type="password" id="password" name="password")
              .form-group
                button.btn.btn-primary(type="submit") Entrar
