extends layouts/main.pug
block content
  include includes/navbar.pug
  .container-fluid.pt-3
    .row
      .col
        .card
          .card-body
            form(action="/tasks" method="POST")
              .form-group
                label(for="title") Titulo
                input#title.form-control(name="title")
              .form-group
                label(for="body") Body
                textarea#body.form-control(rows="5" name="description")
              .form-group
                button.btn.btn-primary.btn-block(type="submit") Guardar