extends layouts/main.pug
block content
  include includes/navbar.pug
  .container-fluid.pt-3
    .row
      .col
        .card
          .card-body
            form(action="/register" method="POST")
              .form-group
                label(for="name") Nombre
                input.form-control(type="text" id="name" name="name")
              .form-group
                label(for="email") Correo
                input.form-control(type="email" id="email" name="email")
              .form-group
                label(for="password") Password
                input.form-control(type="password" id="password" name="password")
              .form-group
                button.btn.btn-primary(type="submit") Registrar
